<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Application Form</title>
    <script src="https://kit.fontawesome.com/2d11fdd863.js" crossorigin="anonymous"></script>
</head>
<body>
    <style>
        *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.containerMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5;
}

fieldset{
    border: 2px solid black;
    padding: 20px;
    margin: auto;
    width: 1000px;
}

.headerSection{
    text-align: center;
}
label{
    margin-right: 10px;
}

    #addEduField{
        padding: 10px;
        border-radius: 50%;
        border: none;
        color: #ffffff;
        background-color: #192764;
    }
    .removeEducationField{
        padding: 4px;
        border-radius: 8px;
        border: none;
        color: #ffffff;
        background-color: #000000;
    }
    td:nth-child(3){
        padding-left: 100px;
    }
    

    </style>

<div class="containerMain">
    <section class="headerSection">
        <h1>Job Application Form</h1>
    </section>
    
    
        <form action="/job/submit" onsubmit="return validateForm()"  method="POST">
        <section class="basicDetails">
            <fieldset>
                <legend>Basic Details</legend>
                <table>
                    <tr>
                        <td><label for="first_name">First Name</label></td>
                        <td><input type="text" name="first_name" class="firstName rightlabel" id="first_name" /></td>
                        <td><label for="last_name">last Name</label></td>
                        <td><input type="text" name="last_name" class="lastName" id="last_name" /></td>
                        
                    </tr>

                    <tr>
                        <td><label for="designation">Designation</label></td>
                        <td><input type="text" name="designation" class="designation" id="designation"/></td>
                        <td><label for="address">Address</label></td>
                        <td>
                            <textarea name="address" id="addressField" cols="30" rows="1" ></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="email">Email</label></td>
                        <td><input type="email" name="email" class="email" id="email" /></td>
                        <td><label for="age">Age</label></td>
                        <td>
                            <input type="number" name="age" class="ageField" id="ageField">
                        </td>
                    </tr>
                    <tr>
                        <td><label for="mobile_number">Phone Number</label></td>
                        <td><input type="number" name="mobile_number" class="mobileNumber" id="mobileNumber"/></td>

                        <td><label for="state">State</label></td>
                        <td><select name="state_select" id="state_select">
                            <option value="" disabled selected>Select Your State</option>
                            <% for(let i = 0 ; i<stateData.length; i++){ %>
                                <option value="<%= stateData[i].option_value%>"><%= stateData[i].option_value%></option>
                            <% } %>
                        </select>
                        </td>

                    </tr>

                    <tr>
                        <td><label for="date_of_birth">Date Of Birth</label></td>
                        <td><input type="date" name="date_of_birth" class="dateOfBirth" id="dateOfBirth"></td>
                        
                        <td><label for="city">City</label></td>
                        <td><select name="city" id="cityOptions">
                            <option value="" disabled selected>Select Your City</option>
                            
                        </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="gender">Gender</label></td>
                        <td><select name="gender_select" id="gender_select">
                            <option value="" disabled selected>Select</option>
                            <% for(let i = 0 ; i<genderData.length; i++){ %>
                                <option value="<%= genderData[i].option_value%>"><%= genderData[i].option_value%></option>
                            <% } %>
                        </select>
                        </td>

                        <td><label for="zipcode">Zip Code</label></td>
                        <td><input type="number" name="zipcode" class="zipCode" id="zipCode"/></td>
                    
                    </tr>
                    <tr>
                        <td>
                            <label for="relationship_status">Relationship Status</label>
                        </td>
                        <td><select name="relationship_select" id="relationship_select">
                            <option value="" disabled selected>Status</option>
                            <% for(let i = 0 ; i<relationData.length; i++){ %>
                                <option value="<%= relationData[i].option_value%>"><%= relationData[i].option_value%></option>
                            <% } %>
                        </select>
                        </td>
                    </tr>
                </table>
            </fieldset> 
        </section>       
    
        <section class="educationDetails">
            <fieldset>
                <legend>Education Details</legend>
                
                <table id="eductionTable">
                    <tr id="addEduFieldTr">
                        <td>
                            <input type="button" onclick="addEdu()" id="addEduField" value=" + "/>
                        </td>
                    </tr>
                    
                    <tr>
                        <td>
                            <hr /> 
                        </td>
                    </tr>
                    <tr id="education-1" class="education">
                        <td><label for="course_name">Course Name</label></td>
                        <td>
                            <select name="course_select" id="course_select">
                                <option value="" disabled selected>Select Your Course</option>
                                <% for(let i = 0 ; i<courseData.length; i++){ %>
                                    <option value="<%= courseData[i].option_value%>"><%= courseData[i].option_value%></option>
                                <% } %>
                            </select>
                        </td>

                        <td><label for="university_name">University Name</label></td>
                        <td>
                            <select name="uni_select" id="uni_select">
                                <option value="" disabled selected>Select Your University</option>
                                <% for(let i = 0 ; i<uniData.length; i++){ %>
                                    <option value="<%= uniData[i].option_value%>"><%= uniData[i].option_value%></option>
                                <% } %>
                            </select>
                        </td>

                    </tr>

                    <tr id="education-1" class="education">
                        <td><label for="passing_year">Passing Year</label></td>
                        <td><input type="number" name="passing_year" class="passingYear" id="passingYear"></td>
                        
                        <td><label for="score_data">Percentage %</label></td>
                        <td><input type="number" name="score_data" class="scoreData" id="scoreData"></td>
                        <td><input type="button" id="1" class="removeEducationField" onclick="removeEducation(this)" value="-"></td>
                    </tr>
                </table>
            </fieldset>
        </section>

        <section class="workExperience">
            <fieldset>
                <legend>Work Experience</legend>
            

                <table id="workExeperience">
                    <tr id="workExeperienceTr">
                        <input type="button" onclick="addWorkExe()"value="Add Work Experince"/>
                        <tr>
                            <td><label for="company_name">Company Name</label></td>
                            <td><input type="text" name="company_name" class="companyName" id="companyName" /></td>

                            <td><label for="designation">Designation</label></td>
                            <td><input type="text" name="designationData" class="designation" id="oldDesignation" /></td>
                        </tr>
                        <tr>
                            <td><label for="start_date">Start Date</label></td>
                            <td><input type="date" name="start_date" class="startDate" id="startDate"></td>

                            <td><label for="end-date"></label>End Date</td>
                            <td><input type="date" name="end_date" class="endDate" id="endDate"></td>
                    </tr>
                </table>
            </fieldset>
        </section>

        <section class="languageKnown">
            <fieldset>
                <legend>Language Known</legend>
            
                <table>
                    
                    <% for(let i = 0 ; i<lanData.length; i++){ %>
                    <tr>    
                        <td><input type="checkbox" name="lan1" value="<%= lanData[i].option_value%>" id="<%= lanData[i].option_value%>" onclick="validateLanguage(this.id)"></td>
                        <td><label for="lanData"><%= lanData[i].option_value%></label></td>
                        <td><input type="checkbox" name="ch1" id="ch1<%= lanData[i].option_value%>" value="<%= lanData[i].option_value%>" disabled></td>
                        <td><label for="read">Read</label></td>
                        <td><input type="checkbox" name="ch2" id="ch2<%= lanData[i].option_value%>" value="<%= lanData[i].option_value%>" disabled></td>
                        <td><label for="write">Write</label></td>
                        <td><input type="checkbox" name="ch3" id="ch3<%= lanData[i].option_value%>" value="<%= lanData[i].option_value%>" disabled></td>
                        <td><label for="speak">Speak</label></td>
                    </tr>
                    <% } %>
                </table>
            </fieldset>
        </section>

        <section>
            <fieldset>
                <legend>Technologies You Know</legend>

                <table id="techTable">

                    <% for(let i = 0 ; i<techData.length; i++){ %>
                        <tr id="addTechnology">
                        <td><input type="checkbox" id="<%= techData[i].option_value%>" name="techname" value="<%= techData[i].option_value%>" oninput="validateSelect(this.id)"></td>
                        <td><label for="<%= techData[i].option_value%>"><%= techData[i].option_value%></label></td>
                        <td><input type="radio" id="techBeginer<%= techData[i].option_value%>" name="<%= techData[i].option_value%>" value = "Beginer" disabled></td>
                        <td><label for="beginer">Beginer</label></td>
                        <td><input type="radio" id="techMideator<%= techData[i].option_value%>" name="<%= techData[i].option_value%>" value="Mideator" disabled></td>
                        <td><label for="mideator">Mideator</label></td>
                        <td><input type="radio" id="techExpert<%= techData[i].option_value%>" name="<%= techData[i].option_value%>" value="Expert" disabled></td>
                        <td><label for="expert">Expert</label></td>
                    </tr>
                    <% } %>
                </table>
            </fieldset>
        </section>

        <section>
            <fieldset>
                <legend>Reference Contact</legend>
                
                <table id="refenreceTable">
                    <tr id="reference">
                        <input type="button" onclick="addReference()" id="referncesBtn" value="Add More References"/>
                    </tr>
                    <tr>
                        <td><label for="name">Reference Name</label></td>
                        <td><input type="text" name="ref_name" id="refName" /></td>
                        
                        <td><label for="contact_number">Contact Number</label></td>
                        <td><input type="number" name="ref_contact_number" id="refContactNumber" /></td>
                        
                        <td><label for="relation">Relation</label></td>
                        <td><input type="text" name="relation" id="refRelation" /></td>
                    </tr>
                </table>
            </fieldset>
        </section>

        <section>
            <fieldset>
                <legend>Prefrences</legend>
                
                <table>
                    <tr>
                        <td><label for="location">Prefered Location</label></td>
                        <td>
                            <select name="loacation_select" id="loacationSelect">
                                <option value="" disabled selected>Select Location</option>
                                <% for(let i = 0 ; i<locationData.length; i++){ %>
                                    <option value="<%= locationData[i].option_value%>"><%= locationData[i].option_value%></option>
                                <% } %>
                            </select>
                        </td>

                        <td><label for="department">Department</label></td>
                        <td>
                            <select name="department_select" id="departmentSelect">
                                <option value="" disabled selected>Select Department</option>
                                <% for(let i = 0 ; i<deptData.length; i++){ %>
                                    <option value="<%= deptData[i].option_value%>"><%= deptData[i].option_value%></option>
                                <% } %>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="current_ctc">Curernt CTC</label></td>
                        <td><input type="number" name="current_ctc" class="current_ctc" id="currentCtc"></td>
                    
                    
                        <td><label for="expected_ctc">Expected CTC</label></td>
                        <td><input type="number" name="expected_ctc" class="expected_ctc" id="expectedCtc"></td>
                    </tr>

                    <tr>
                        <td><label for="notice_period">Notice Pereiod</label></td>
                        <td><input type="number" name="notice_period" class="noticePeriod" id="noticePeriod"></td>

                    </tr>
                </table>
            </fieldset>
        </section>
        <table>
            <Tr><td>
                <input type="submit" value="submit">
            </td></Tr>
        </table>
    </form> 
    </div>
<script>
let eductionId = document.getElementById("eductionTable");
let addEduField = document.getElementById("addEduField")
let addEduFieldTr = document.getElementById("addEduFieldTr")
let educationLength = document.getElementsByClassName('education')

let data = `
<td><label for="course_name">Course Name</label></td>
<td>
 <select name="course_select" id="course_select">
<option value="" disabled selected>Select Your Course</option>
<% for(let i = 0 ; i<courseData.length; i++){ %>
<option value="<%= courseData[i].option_value%>"><%= courseData[i].option_value%></option>
<% } %>
</select>
</td>

<td><label for="university_name">University Name</label></td>
<td>
<select name="uni_select" id="uni_select">
 <option value="" disabled selected>Select Your University</option>
<% for(let i = 0 ; i<uniData.length; i++){ %>
<option value="<%= uniData[i].option_value%>"><%= uniData[i].option_value%></option>
<% } %>
</select>
</td>
`

let data2 = `<td><label for="passing_year">Passing Year</label></td>
<td><input type="number" name="passing_year" class="passingYear" id="passingYear"></td>

<td><label for="score_data">Percentage %</label></td>
<td><input type="number" name="score_data" class="scoreData" id="scoreData"></td>

`



function addEdu(){
    // let removeField = `<td><input type="button" id="${(educationLength.length/2)+1}" removeEducationField" onclick="removeEducation(this)" value="-"></td> `


    let trEdu = document.createElement('tr');
    trEdu.setAttribute('id',`education-${(educationLength.length/2)+1}`)
    trEdu.setAttribute('class','education')
    let trEdu2 = document.createElement('tr');
    trEdu2.setAttribute('id',`education-${(educationLength.length/2)+1}`)
    trEdu2.setAttribute('class','education')
    trEdu.innerHTML += `${data}`
    trEdu2.innerHTML += `${data2}`
    trEdu2.innerHTML += `<td><input type="button" id="${(educationLength.length/2)+1}" class="removeEducationField" onclick="removeEducation(this)" value="-"></td> `


    eductionId.appendChild(trEdu)
    eductionId.appendChild(trEdu2)
}

const removeEducation= (ele)=>{
    const removeChildId = document.querySelectorAll(`#education-${ele.id}`)
    // console.log("classname",eductionId.childNodes[1])
    if(educationLength.length <= 2){
            alert("You required Atleast One education field")
    }
            
    else{
        for(let i = 0; i< removeChildId.length;i++){
                if(ele.id == 1){
                    eductionId.childNodes[1].removeChild(removeChildId[i])
                }else{
                    eductionId.removeChild(removeChildId[i])
                }
        }    
    }
}



let workExeId = document.getElementById("workExeperience")

function addWorkExe(){
    let trWork = document.createElement('tr');
    let trWork2 = document.createElement('tr');

    trWork.innerHTML= `<td><label for="company_name">Company Name</label></td>
    <td><input type="text" name="company_name" class="companyName" id="companyName" /></td>

    <td><label for="designation">Designation</label></td>
    <td><input type="text" name="designationData" class="designation" id="oldDesignation" /></td>`

    trWork2.innerHTML = `<td><label for="start_date">Start Date</label></td>
    <td><input type="date" name="start_date" class="startDate" id="startDate"></td>

    <td><label for="end-date"></label>End Date</td>
    <td><input type="date" name="end_date" class="endDate" id="endDate"></td>`

workExeId.appendChild(trWork)
workExeId.appendChild(trWork2)
}



let referenceTable = document.getElementById("refenreceTable")

function addReference(){
    let referenceTr = document.createElement('tr')

    referenceTr.innerHTML += `<td><label for="name">Reference Name</label></td>
    <td><input type="text" name="ref_name" id="refName" /></td>
    
    <td><label for="contact_number">Contact Number</label></td>
    <td><input type="number" name="ref_contact_number" id="refContactNumber" /></td>
    
    <td><label for="relation">Relation</label></td>
    <td><input type="text" name="relation" id="refRelation" /></td>`
        
    referenceTable.appendChild(referenceTr)
    
}

let state_select =  document.getElementById('state_select');
let cityOptions = document.getElementById("cityOptions")
state_select.addEventListener('click', function(){
        fetch(`/job/city?stateName="${state_select.value}"`)
        .then((res) => res.json())
        .then((data) => {

    
    // var val = ""
    var val = `<option value="" disabled selected>Select Your City</option>`
        for(let x of data){
            val += `<option value="${x.city_name}">${x.city_name}</option>`
        }
        cityOptions.innerHTML = val
    })
    })
const first_name = document.getElementById('first_name')
const last_name = document.getElementById('last_name')
const designation = document.getElementById('designation')
const addressField = document.getElementById('addressField')
const email = document.getElementById('email')
const ageField = document.getElementById('ageField')
const mobileNumber = document.getElementById('mobileNumber')
const dateOfBirth=  document.getElementById('dateOfBirth')
const gender_select = document.getElementById('gender_select')
const zipCode = document.getElementById('zipCode')
const relationship_select = document.getElementById('relationship_select')



function validateForm(){
    let inputFields = document.querySelectorAll("input")
    let flag = 0;
    for(let i = 0; i< inputFields.length; i++){
        if(inputFields[i].value == ""){
            inputFields[i].style.border = "2px solid red"
            flag = 1;
        }
        else{
            inputFields[i].style.border = "1px solid black"
        }
        }
        if(flag ==1 ){
            return false
        }

    return true
}



const validateSelect = (id) =>{
    let checkId = document.getElementById(id)
    let beginer = document.getElementById('techBeginer'+id)
    let mideator = document.getElementById('techMideator'+id)
    let expert = document.getElementById('techExpert'+id)
    if(checkId.checked){
        beginer.disabled = false
        mideator.disabled = false
        expert.disabled = false
    }
    else{
        beginer.disabled = true
        mideator.disabled = true
        expert.disabled = true

    }

}

const validateLanguage = (id) =>{
    let languageCheck = document.getElementById(id)
    let read = document.getElementById('ch1'+id)
    let write = document.getElementById('ch2'+id)
    let speak = document.getElementById('ch3'+id)
    
    if(languageCheck.checked){
        read.disabled=  false
        write.disabled= false
        speak.disabled= false
    }
    else{
        read.disabled = true
        write.disabled = true
        speak.disabled = true
    }
}



</script>
</body>
</html>

